h1 {
    color: lightcoral;
}
#Fruites-title {
    color: black;
}
#places-title {
    color: blueviolet;
}
.hello {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.yellow-bg {
    background-color: yellowgreen;
}